# Yellow Taxi Trip Records
 Dataset de los viajes en taxi en New York, se seleccionaron dataset de Febrero, Agosto y Noviembre del año 2020.
Con información sobre fecha y hora de salida y llegada, monto del viaje, cantidad de pasajeros, etc.

## dictionary
$Vendor\_Id:$ Nos servirá mas adelante quien nos envio los datos? A code indicating the TPEP provider that provided the record
$tpep\_pipckup\_datetime:$ Hay dos columnas, la primera con información redundante del mes y año, pero puede ser interesante saber el dia del mes. La segunda columna nos indica la hora de partida.
$tpep\_dropoff\_datatime:$ También hay dos columnas, idem pto anterior, pero la segunda nos indica la hora de llegada.
$passenger\_count:$ Cantidad de pasajeros, algunos vacios.
$trip\_distance:$ Distancia en millas del viaje.
$RatecodeID:$ El último código de tarifa vigente al final del viaje (6 opciones)
$store\_and\_fwd\_flag:$ Nos servirá para saber en la zona donde se pierde conectividad? This flag indicates whether the trip record was held in vehicle memory before sending to the vendor, aka “store and forward,” because the vehicle did not have a connection to the server.
$PULocationID:$ TLC Zona de Taxis en la que se activó el taxímetro.
$DOLocation:$ TLC Zona de Taxis en la que se desactivó el taxímetro.
$payment_type:$ tipo de pago (5 opciones).
$fare\_amount:$ La tarifa de tiempo y distancia calculada por el medidor.
$extra:$ Varios extras y recargos. Actualmente, esto solo incluye los cargos por la hora pico y por la noche.
$mta\_tax:$ Impuesto MTA que se activa automaticamente segun la tasa en uso.
$tip\_amount:$ Importe de la propina, este campo se completa automáticamente para las propinas de tarjetas de crédito. Las propinas en efectivo no están incluidas.
$toll\_amount:$ Importe total de todos los peajes pagados en el viaje.
$improvement\_surcharge:$ Recargo de mejora en baja de bandera. Taxi estacionado en la parada.
$total\_amount:$ El monto total cobrado a los pasajeros. No incluye propinas en efectivo.
$congestion\_surcharge:$ Importe total recaudado en el viaje por el recargo por congestión del Estado de Nueva York.
$airport\_fee:$  Por recogida solo en los aeropuertos LaGuardia y John F. Kennedy. (Por COVID el aeropuerto estaba cerrado?

In [4]:
# Module importing
import pandas as pd

#Dataset Path
DATASET_PATH = "./data/"

In [5]:
# Importing dataset

# NOTA: hay que hacer un pip install pyarrow para que funcione

df_feb= pd.read_parquet(DATASET_PATH+'yellow_tripdata_2020-02.parquet', engine='pyarrow')
df_aug= pd.read_parquet(DATASET_PATH+'yellow_tripdata_2020-08.parquet', engine='pyarrow')
df_nov= pd.read_parquet(DATASET_PATH+'yellow_tripdata_2020-11.parquet', engine='pyarrow')

# 1- Analisis exploratorio inicial

## 1.1 - Dataset features and characteristics

In [6]:
df_feb.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2020-02-01 00:17:35,2020-02-01 00:30:32,1.0,2.60,1.0,N,145,7,1,11.0,0.5,0.5,2.45,0.0,0.3,14.75,0.0,None
1,1,2020-02-01 00:32:47,2020-02-01 01:05:36,1.0,4.80,1.0,N,45,61,1,21.5,3.0,0.5,6.30,0.0,0.3,31.60,2.5,None
2,1,2020-02-01 00:31:44,2020-02-01 00:43:28,1.0,3.20,1.0,N,186,140,1,11.0,3.0,0.5,1.00,0.0,0.3,15.80,2.5,None
3,2,2020-02-01 00:07:35,2020-02-01 00:31:39,1.0,4.38,1.0,N,144,140,1,18.0,0.5,0.5,3.00,0.0,0.3,24.80,2.5,None
4,2,2020-02-01 00:51:43,2020-02-01 01:01:29,1.0,2.28,1.0,N,238,152,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,0.0,None

In [7]:
df_feb.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
6299362,2,2020-02-29 23:24:00,2020-02-29 23:55:00,NaN,10.59,NaN,None,225,205,0,48.85,2.75,0.5,0.0,0.00,0.3,52.40,NaN,None
6299363,6,2020-02-29 23:02:01,2020-02-29 23:02:25,NaN,5.88,NaN,None,265,226,0,26.65,2.33,0.5,0.0,0.00,0.3,32.28,NaN,None
6299364,2,2020-02-29 23:35:00,2020-02-29 23:58:00,NaN,4.46,NaN,None,45,80,0,24.70,2.75,0.5,0.0,0.00,0.3,28.25,NaN,None
6299365,2,2020-02-29 23:42:00,2020-03-01 00:11:00,NaN,15.73,NaN,None,235,197,0,53.03,2.75,0.5,0.0,6.12,0.3,62.70,NaN,None
6299366,6,2020-02-29 23:02:13,2020-03-01 00:03:24,NaN,11.34,NaN,None,265,116,0,37.62,3.29,0.5,0.0,0.00,0.3,44.21,NaN,None

In [8]:
df_feb.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int64
DOLocationID                      int64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
airport_fee                      object
dtype: object

## 1.2 Handling missing data

In [9]:
df_feb.isna().values.any()

True

In [10]:
pd.isna(df_feb)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6299362,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,True,True
6299363,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,True,True
6299364,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,True,True
6299365,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,True,True
6299366,False,False,False,True,False,True,True,False,False,False,False,False,False,False,False,False,False,True,True

Analisis: tenemos missing values. de los siguientes tipos:
- NaNs  ver tail congestion_surcharge
- None  ver tail airport_fee

In [11]:
#df_feb.isna().sum()
df_feb.isnull().sum()

VendorID                       0
tpep_pickup_datetime           0
tpep_dropoff_datetime          0
passenger_count            48834
trip_distance                  0
RatecodeID                 48834
store_and_fwd_flag         48834
PULocationID                   0
DOLocationID                   0
payment_type                   0
fare_amount                    0
extra                          0
mta_tax                        0
tip_amount                     0
tolls_amount                   0
improvement_surcharge          0
total_amount                   0
congestion_surcharge       48834
airport_fee              6299367
dtype: int64

In [12]:
df_feb.nunique()

VendorID                       4
tpep_pickup_datetime     2027136
tpep_dropoff_datetime    2031299
passenger_count               10
trip_distance               4391
RatecodeID                     7
store_and_fwd_flag             2
PULocationID                 259
DOLocationID                 261
payment_type                   5
fare_amount                 5137
extra                        122
mta_tax                       11
tip_amount                  3680
tolls_amount                 937
improvement_surcharge          3
total_amount               12311
congestion_surcharge           7
airport_fee                    0
dtype: int64

## Variables categoricas:
### Ordinales:
'passenger_count' Categorica Ordinal 1-10\
‘VendorID’ Categorica Ordinal 1-2 \
‘RatecodeID’ Categorica Ordinal 1-6 \
’payment_type’Categorica Ordinal 1-6\
### Nominales:
’store_and_fwd_flag’Categorica Ordinal Y-N
## Variables fecha/hora:
'tpep_pipckup_datetime'
'tpep_dropoff_datatime'
## Variables numéricas:
### Continuas:
'trip_distance'
'PULocation'
'DOLocation'
'fare_amount'
'extra'
'tip_amount'
'tolls_amount'
'total_amount'
### Discretas: (Aunque son datos continuos, los valores son muy pocos)
'mta_tax'
'improvement_surcharge'
'congestion_surcharge'
### Segun df_feb.nunique()

### Tratamiento de features
Variables fecha:
$tpep\_pipckup\_datetime$ y $tpep\_dropoff\_datatime:$ Son dos columnas, la primera con información redundante del mes y año, pero puede ser interesante saber el dia del mes. La segunda columna nos indica la hora de partida. (Se podria dividir la información en dos columnas, para mejor tratmiento de los datos.
Categoricas ordinales:
 Ver de colocar cada item en una sola columna(subdividir en categorias, 1 y 0).
 Categoricas nominales:
 Subdividir en 1 y 0.
$airport\_fee:$ Si se analiza por mes , seria bueno quitarlo ya que en el mes de febrero no nos aporta ninguna información. Si el tratmiento es en todo el 2020 habria que ver que tan útil es.